.minicars {
  clear: both;
  padding-top: 40px;
  margin: 0 auto;
  width: 980px;

  display: flex;
  display: -webkit-flex;
  display: -ms-flexbox;
  
  justify-content: space-between;
  &__name {
    font: bold 14px Arial, sans-serif;
    color: #000;
  }
  &__el p {
    font: bold 12px Arial, sans-serif;
    color: #e10025;
    padding-top: 10px;
  }
}

.minicars__name_share_true:after {
    content: 'Акция';
    font: bold 12px Arial, sans-serif;
    color: #e17838;
    padding-left: 5px;
    position: relative; 
    top: -1px;
}

.minicars_size_sm {
  width: 820px;
}